.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    line-height: 1.35;
}

/* header */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 89px 50px 92px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 131px;
    height: 106px;
}

.header__address {
    justify-self: end;
    max-width: 236px;
}

/* cover */
.cover {
    position: relative;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1100px;
    max-height: 757px;
    padding: 168px 50px 50px;
    color: #fff;
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
    margin-top: 106px;
    width: 100%;
}

.cover__description-text {
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    word-spacing: 0.85em;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

/* lots */
.lots {
    padding: 182px 24px 120px;
    box-sizing: border-box;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
    justify-content: center;
}

.lots__card-list-item {
    flex: 0 0 334px;
    min-height: 596px;
    box-sizing: border-box;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.card {
    position: relative;
    height: 100%;
    padding: 48px 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
}

/* about */
.about {
    display: grid;
    grid-template-columns: 359px 1fr;
    max-width: 1052px;
    margin: 0 auto;
    padding-top: 35px;
    box-sizing: border-box;
}

.about__column_left {
    position: relative;
}

.about__logo {
    position: absolute;
    left: 47px;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 141px;
    height: 112px;
}

.about__column_right {
    padding-top: 105px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 102px 0;
    color: #000;
    line-height: 100%;
}

.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 1.2;
    margin: 0;
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: start;
    padding: 182px 50px 82px;
}

.footer__address {
    justify-self: start;
    max-width: 260px;
}

.footer__link {
    text-decoration: none;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
}

.footer__menu {
    justify-self: center;
    max-width: 163px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-list-item {
    text-align: center;
    white-space: nowrap;
}

.footer__menu-link {
    font-size: 18px;
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
/* cooment */